<!-- use previous template and changed html on ejs file -->
<!doctype html>
<html>

<head>
    <title>Home Hunt</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1><span class="fa fa-home"></span> Home Hunt</h1>
            <p class="lead">Track and organize your home and apartment listings</p>
            <p>Keep track of addresses, prices, and comments for each property</p>

            <p>Login or Signup to get started:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>

        </div>

    </div>
</body>

</html>